<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-white">
    <!-- Container wrapper -->
    <div class="container-fluid">
        <!-- Toggle button -->
        <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
            data-mdb-target="#navbarSupportedContent"  aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>


        <!-- Collapsible wrapper -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- Navbar brand -->
            <a class="navbar-brand mt-2 mt-lg-0">
                <img src="https://firebasestorage.googleapis.com/v0/b/lab4-de93f.appspot.com/o/nav-bar-icon.png?alt=media&token=b09e6ac7-5643-4157-bff1-c94a54fb26e2"
                    height="60" alt="Arcade Games" loading="lazy" />
            </a>

            <div *ngIf="usuario$ | async as usuario; else login">
                <!-- Left links -->
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/QuienSoy">Quien Soy</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/Chat">Chat</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="juegos/ahorcado">Ahorcado</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="juegos/mayormenor">Ahorcado</a>
                    </li>
                </ul>
                <!-- Left links -->
            </div>

        </div>
        <!-- Collapsible wrapper -->
        <div *ngIf="usuario$ | async as usuario">

            <!-- Right elements -->
            <div class="d-flex align-items-center">
                <a class="py-2 d-none d-md-inline-block btn" *ngIf="usuario">{{usuario?.email}}</a>
                <!-- LogOut -->
                <button type="button" class="btn btn-primary btn-floating mx-1" style="background-color: rgb(170, 19, 52);"
                    (click)="onLogout()">
                    <i class="fas fa-sign-out-alt" style="font-size:25px;color: black;"></i>
                </button>

            </div>
            <!-- Right elements -->
        </div>

        <ng-template #login>
            <a class="py-2 d-none d-md-inline-block btn" type="button" (click)="goRegistro()">Registro</a>
            <a class="py-2 d-none d-md-inline-block btn" type="button" (click)="goLogin()">Login</a>
        </ng-template>
        
    </div>
    <!-- Container wrapper -->
</nav>
<!-- Navbar -->